name: common_widgets
description: Reusable shared Flutter widgets.
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  core:
    path: ../../core

dev_dependencies:
  flutter_test:
    sdk: flutter
