name: core
description: App-wide foundations (very stable, rarely changes).
version: 0.0.1
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  # Add shared dependencies here (e.g. equatable, json_annotation)

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
